<section class="container">
        <div class="card-container">
            <div class="card-content">
                <div class="card-title">
                    <span class="title">{{ include.title }}</span>
                </div>
                <div class="card-body">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                  <i class="fa fa-whatsapp" aria-hidden="true"></i>                    
                </div>
                <div class="card-footer">
                    <span class="title">{{ include.extrainfo }}</span>
                </div>
            </div>
        </div>
    </section>