<div class="bling_card">
    <div class="content">
        <a href='{{ include.href }}'><i class='{{ include.iconclass }}'></i>
            <div class="title">
                <strong>{{ include.title }}</strong>
            </div>
            <div class='description'>
                {{ include.description }}
            </div>                                
        </a>
    </div>
    <div class="circle">
    </div>
    <div class="circle" id="right">
    </div>
    <div class="circle" id="bottom">
    </div>
  </div>
</div>