
                 ..                                    ...............................
          .,ol:,.                                 ................................  ....
        ..KKXc..                               ........................................
           ooK ..                             .....................',:::::,...........  
        ...OOxkK;                         .....................';,;looxxdl:,........   
        ,c:odc:,:'                       ....................'.':;',;,;llc:;'.......    
        .:clc;   ,.                     ....................'.';:..',:cclllo:,'.....    
        :'.c.c. ;c                      ..........    ........;c,...':lc:llcc:,.....    
        .;:. .::,'                 .............         ....;c:.  .;dc',colo;;;' ...   
        '                         .............           .':o:...:odo,..':dl:col',..   
        '                ..     ...............          .;l:. . .:;loc:clool:xll:,...  
        ,              ...   ...................        .;cc' .. ';ooccddxolcodol:''..  
        ,            ....  .....................        ;;cc.   .,clo:lxxdddddoocc''....
        ,          ...............................     .,'.. ...,:oxc:lddoddxoocl,,.....
        '        .............................'''..    .....'',,;',co,lodddkcd:l:,'.....
        ;      .............','....... .....'',,'..    ...''',;':::c;'codxdc:o;lcc'.....
        ,     .........'''',;,''.'...  ......'''..   ..',;;;;,:::::ccc;codc;;doldd,.....
        ;   ..........' .,;;,',,''...   .........  ..'';codddoo:;,;;;l,:ll:;;cl::l,.....
        ;  .......'' .'..;;,;,'......    ......  .'';ccoxkkxxxxkl,c;:clc;l;',;:;,;......
        ;........','. ',..::;. ,,'...      .  ..'c:cdxxxdoc:::lldxkxdodxc;;;;lc;,... ...
        ;......'',;..; ,:,'::, .;,...       ..;coddddol::::clooddxxxxdddo'clll,.........
        ;. ...'',,,; .;.'c:;;c;,,;...     ..,lodddoc,,:cloooodddxxdxxdood,',;,..........
        :......',,;:'..:c,,:;::;,,...    ..,ldool;..;looddddddddxxxxddooo'.''...........
        ;......'';,.::' ,;;:;;;''..  .. .;lool:;'.';codxxxxdxxxxxxxxdooc:...............
        ; ....'.:c::'.;:;,;;,...........,lol:,...':clodxkkkkxxxxxkxxxol;;...............
        ,......c;:c:c:..'',,.. ......';::l:'...':lodddddxkkkkkxxxxxxdl:;;...............
        ,....,l;:;,;;'.,'....  ...'',;cc:,...';:coxxxxkkxxxxxdddooooc;::;...............
        :...;;',,,,'..'...    ...',',,',;;;:;;;:cldxkxxxxxdddoll:;;;::;:;...............
        ...;,'''''...'....    .'...,,;cocccl:ccclcoxkxxxxxdoooollllc:::;;...............
        ....'''.........     ...,;,;::lxdooolllllodxxkxxddddddollllcllc:'...............
        '.',,.........       ..:lodxdldxddxxdollldxkxxxdddooooollooolc:;  .....''''.....
        ..','.. .....       .;codxkkkkkkxxxdxxdlldxxxxddoooooddxxddolc',  ''...'.'......
        .'....  ...       .,clodxkkOOOOOOkxxdxxdddxddddoodxxxkxxxddoc: .. ..' '.'.......
        ......  ..      .,:clodxxkkOOOOOOOkkxxxxddddoodxkkkkkkkkxdollc,....;.,;:,.......
        .    ....     .';:clodddxkkOOOOO00OOkxdddoooxkkkkkkxxxxxxooool;,,., ... ''......
            .....   ..,::cllooddxxkOO0000000OOxddodxkkkkkxxdddxxdxo,;.l:c;'..',.........
          ......  ..',;:clllooddxxkOO00000000Okxddddxxxddddxxdxkd;'; ,:ol::,.....'......
        .    .  ..',;::cclloooddxxkO0000KKKK00kkxdddoddddddodkd:.''','':::oo:.,..''..'..
        ...    ..,,;:cclllooodddxxkO000KKKKK00kkkdooooooooxxl'.....',;;.c:.d......''.'''
        ..   ..',;::cccllloooddxxkO000KKKKKKK0kOOxoodxdkkd. ........'.;'.::.:.....'''.''
            ..',;::cccllloooddxxxkOO00KKKKKK00kO0OdokOx,     ........',;.:c.c, .,'',.'..
          ..',;;:cclllloooodddxxkkkOO00KKKK00kkOkOOxl        .........';,;;,:.'. ',''''.
        ..,,;::clllooooooooddxxxkkkOO000000OxkOO0OOd         ........',':l,c'.,  ','''.
        .',;;:cclllooddddollooooddxxxkOO000OxxO0K0KOO            ......,.::,c:c' .','''.
        ',;::ccloooodddddoolccllooddxxkkOOkxxO0KK0K0O;            .......'',l'...',,,'''
        ::ccclllooddddooooooc:;;:clloddxkxoxO0KKK0000:                . ..:.o,,,,;,'''''
        clloooodddddooooooooll:'.';:cooollx0000000000:              . ..,.c.l..',,',,,''
        clooddxxxxddddooolllllc'  ..',;:okOO00000O00O;                ..'.'ll,.',,,,,'''
        lodxxkxxxxddddooollc:,.    .':ldxkOOOOO0O0kOk.               .'' ,;k,..:;;,,,,''
        odxkkkkxxdddddoll:'.      .';coddxxxkkkkkkxxo            .. ..; :;xl;.':;;,,,,''
        dxkkxxxdddddoll:'    ..';;..,:clodddxxxxddoo;            ...,l,:;lc,:';;;,,,,,''
        xkkxxxdddoollc.     ..,:coc..,:clodddddoooll            ...'loc,:oc:;;;;,,,,,'''
        kxxxdddooll:.       .,;coooo:',:llooooolllc.         .....':.o;dk;:::;;;;;;;,'''
        xxxddodolc,        .';cldddddo;,:ccllllcc:         ....,'lc,c,occ:c::;;;;;,'''..
        xdoooolc;.        ..,:lddxxxddoc;:ccllll:.      .:dKXNKONNd:lx:c,,;;;;;;,,,'''..
        ddooll:'          .':lodxxxxxxdolc:cccc;..,cd0KXWMMMNkXMXo,dc;.;;'::;;;,'','''..
        ooolc,        .  .';:lddxxxxxdooolllllcx0NMMMMMMMWKKXKlo;xx,..,.:;::;;;,,,,''...
        olc,.        .   .,:codxxxxddodoolcxWMMMMMMMMWNXKXWN0lcdd,,'..,',:;;;,,;,''''...
        c:.             ..;:ldxxkxddoololo00OkOOkOxcKXWWX0o:ldl:o,...'::;::;,;;,''''....
        ,          .   ..':codxxxxdoolollox0XXXXXKxlOdlcodo:,;lc:;.;;:;;::;,,,,'''......
                   .   ..,:loxxxxxdollcl;olooodoooxoldoc;.,d,,'.,:,;;;;::;;;,'''........
                      ..';cldxkkxxdooll,.,,'.''',...;::;...'..',,;:;;::;,,,,'''.........
                 .    ..,;cldxkkxxdool,,o,'...:::..:,.,,,,;,'...';::::;,,,'''...........
                .    ..',:lodxkkxddooc',;::...';;;;;:;'.;,,.'...',::;,,,,''''...........
                    ...',:loxkkkxdool:;',:;;...,;;;;,,'',,'',,'.';;;,,,'''..............
              ..    ..',;codxkkxddolc:::;;;;;;;;;;;,'''''''',,,',,,,,'''................
             .   ....,,;codxkkxdollc:;;;;;,;;;;,,'.'''''','',,,,,,''...................
          ..    ...',;:loxkkkxdolc:;,;,;:,,,,,,'..'..'..,''',,'''.....................
         ..   ...',;:codxOkxdolc:;;;,;;,,,,''......''''''','.''......................
        ..   ....,,:cldxkkxddllc;;;;,,,,,,'.......''''..'''..........................
        ...   ...';;clodkkkddolc:,,;,,,,''.........'....'''...........................
        ..   ....,::lodxkkxxdoc:;,,,,,,'..........'...................................
        ..   ..'',:cldxkkkxdol:;,,,,,''...............................................
        ..   ...',;cloxkkOkdool;,,,,,''................................................
        ...   ..',;:codkkOkxool:;,,,,''.................................................
        ..    ..,;;codxOOkxdolc;,,,''.................................................. 
        ..   ..',:cldxkOOxdooc:,,;,''.................................................  
        ..   ..,;cloxkOOkdool;,,,'''...........................................'''......
        .   ..',:lodkOOkxdol:,,,'''............................................'........
        .   ..,;codxOOkxdolc,,;'''''..''',,,,'''............................'...........