<nav class="sticky w0_9 pTop0 marginLRauto">
    <div class="float_l margin1rem">
            <ul>
            {% for anchor in site.data.anchors.indexpage %}
                <li><a href='#{{ anchor.anchor }}'>{{ anchor.txt }}</a></li>
            {% endfor %}
            </ul>
    </div>
    <div class="float_r margin1rem">
        <ul>
            {% for page in site.pages %}
                {% if page.inmenu == true %}
                    <li><a href="{{ page.url }}">{{page.title}}</a></li>
                {% endif %}
            {% endfor %}        
            <li><a href="#imprint">Imprint</a></li>
        </ul>
    </div>
</nav>
