<section>
<div class="margin1rem">
    {% assign created = site.data.created %}
       <h3>{{ created.title }}</h3>
       <ul>
           <li><a href="{{ crteated.codeurl }}">{{ created.code }}</a></li>
           <li>{{ created.tech }}</li>
           <li>{{ created.svg }}</li>
           <li>Tipp1: {{ created.tipp[0] }}</li>
           <li>Tipp1: {{ created.tipp[1] }}</li>           
           <li><div>
                Fo installing git, inkscape, gimp, mise (for Ruby on Rails), 
                <br>and all tghe other stuff normally opensource and free for anyone.  
                <br> Packagemaneger for Terminal aka CMD {{ created.pacmans.macos }}
                <br> Packagemaneger for CMD or Powershell {{ created.pacmans.windows }}
                </div>
             </li>                
       </ul>
       </div>
       </section>