{% assign created = site.data.created %}
<section>
    <img id="intro" />
    <div>
        <h4>{{ created.title }}</h4>    
        <span>{{ created.spast.intro }}</span><a href="{{ created.spast.url }}"><div>{{ created.spast.txt }}</div></a>
        <div class="pre-whitespace">
            
            Für meine DJini. +>--°-- ...
            CELSIUS ZEICHEN dann CELSIUSZEICHEN dann dazwischen UND ALT+GR SCHNIP SCHNAP drücken loooool
            --,--´--<{@  ...  ¢)>--^---
                .w0.0w ich bin ja so romanisch nennt mich Luigi-igitt-ibah
                
                     _
                    ((___))
                    [ x x ]
                     \   /
                     (' ')
                      (U)
        </div>
        <hr>
</section>
        
        <section>
        <div>
        <h3>Wähle deinen nächsten Kult.</h3>
        <p>Nach Schaun dem scharf bin ich unsicher ob ich wieder so viel Glück hab. Schwarzes Schaaf den ganzen Tag bei den Mädels auf der Wiese. Yeah sozusagen FEIGE aber auf englisch und schlampig ausgesprochen mit CK den ganzen tag.</p>
        <p><a href="https://www.heavensgate.com">Eine Web designende UFO Sekte</a> die beim erscheinen von dem Kometen (weil hauptsächlich so Staub und Eiskristalle mit sich führte ans Licht der Welt rückte. Wegen recyclings ist der Planet zu verlassen. Ich denke ich bleib hier. Denn evtl bin ich nicht zu gerbrauchen und kein Recyclking Möglich. Diese hiuer hat asich 97 mit 39 Mitgliedern Umgebracxht. Nachdem sie im AoL Internet der 14.880 kbit/s Modems bis zum ISDN doppel Einwahl. Letzlich aber zu schnell am Drücker sie haben sich ja EIN jahr vor der 768-downstream asynchronie DSL Zeit vorbeigeschummelt.</p>
        <p>Eine andere Sekte die sogenannte Sekte-Ohm oder auch die Kinder des Morgenwindes, Die haben in der Tokio U-Bahn ein bischen Saringas das Sie aus irgendwelchem Gemühse oder Saatgut gewonnen haben. Letzlich versucht sich der Sektenführer bis heute irgendwie umzubringen. Aber die Tokionaten sind gewappnet. Wieviele versuche es gab. Das weiss keiner es starben glaub ich keiner aber Tokio-Knotenpunkt der U- und S- Bahn war Lahmgelegt. Central Station mit saringas betreten. wooW +9.0 wegen sneakisch.</p>
        <p>Kinder des morgen Grauens. Es lohnt sioch einfach Die abstürzenden Brieftauben - Das grauen kehrt zurück oder es ist auch in deiner Stadt. Aber leider wird es einfach oft unbewusst ignoriert. Dann ist 12 opde Drölf und der letzte Rave ist noch immer nicht zu ende. Wo die LEute wohl sind. Oder hab ich die angestarrt. Die sagten löcher inne Luft starren. Achja die sind tatsächlich einfach so in meinen Blick gelaufen. Epsteinisland löst sich auch nicht von allein. Daher EU gebunden da 4 Urteilegibt mit Todestsrafe ohne Begnandigung - 2xGaskammer, Todesspritze und elektrischer Stuhl. ME ELECTROCUTE ME WANNA HAVE A ELECTRWOKUCHEN AUS SCHIRE LICHJTERBÖGENZ und GLIMMERSTEINEN</p>
        </div>
    </div>
    <hr>
    </section>
    <section>
            <span>{{ created.tech.github.text }}</span><a href="{{ crteated.tech.github.url }}">{{ created.tech.github.linktxt }}</a>
            <ul>
                <li>{{ created.tech.ruby }}</li>
                <li>{{ created.tech.jekyll }}</li>
                <li>{{ created.tech.svg }}</li>
            </ul>
            <hr>
    </section>


<section id="yonder">    
    <h1>{{ created.tipp.yonder }}</h1>
    <p>{{ created.tipp.THEtick }}</p>
    <hr>    
    <h3>{{ created.box.txt }}</h3>
    <p>{{ created.box.arm }}</p>
    <p>{{ created.box.x86 }}</p>
    <hr>
    <subsection>
            <ul>
                <li>{{ created.tipp.pam_d }}</li>
                <li>{{ created.tipp.access.txt }}
                <ul>
                    <li>{{ created.tipp.access.root }}</li>
                    <li>{{ created.tipp.access.user }}</li>                        
                    <li>{{ created.tipp.access.all }}</li>
                </ul>
                </li>
            </ul>
    <hr>
    </subsection>
    <subsection>
            <h3>{{ created.ufw.topic }}</h3>
            <p>{{ created.ufw.why }}</p>
            
            <h4>{{ created.ufw.cmd }}</h4>
            <p>{{ created.ufw.pre }}</p>
            <p>{{ created.ufw.cmd.win }}</p>
    <hr>        
    </subsection>
    
    <subsection>           
        <h4>{{ created.box.iso2usb.text }}</h4>
        <ul>
            <li><a href="{{ created.box.iso2usb,rufus.url }}">{{ created.box.iso2usb.rufus.txt }}</a></li>
            <li><a href="{{ created.box.iso2usb.etcher.url }}">{{ created.box.iso2usb.etcher.txt }}</a></li>
        </ul>
        <hr>
    </subsection>    
    <subsection>    
        <h3>{{ created.shell.topic</h3>
        <p>{{ created.shell.txt</p>
        <ul>
            <li><a href="{{ created.shell.windows.url }}">{{ created.shell.windows.txt }}</a></li>
            <li><a href="{{ created.shell.macos.url }}">{{ created.shell.macos.txt }}</a></li>
        </ul>
        <hr>
    </subsection>
</section>