@font-face {
  font-family: "Inconsolata";
  src: asset_url("fonts/Inconsolata-Regular.ttf"); 
}
@font-face {
  font-family: "Monaspace-Argon";
  src: asset_url("fonts/Monaspace-Argon-Var.ttf"); 
}
@font-face {
  font-family: "Monaspace-Krypton";
  src: asset_url("fonts/Monaspace-Krypton-Var.ttf"); 
}
@font-face {
  font-family: "Monaspace-Neon";
  src: asset_url("fonts/Monaspace-Neon-Var.ttf"); 
}
@font-face {
  font-family: "Monaspace-Radon";
  src: asset_url("fonts/Monaspace-Radon-Var.ttf"); 
}
@font-face {
  font-family: "Monaspace-Xenon";
  src: asset_url("fonts/Monaspace-Xenon-Var.ttf"); 
}