:root {
    --main-font: "Monaspace-Krypton";    
    --width-max: 1024px;
    --width_95: calc(var(--width-max)*0.95);
    --blue: hsla(255, 100%, 50%, 1.0);
    --orange: hsla(13, 100% , 50%, 1.0);
    --poisongreen: hsla(91, 100%, 50%, 1.0);
    --purple: hsla(281, 100%, 50%, 1.0);
    --background: hsla(0, 0%, 13%, .81);    
    --foreground: hsla(181, 100%, 55%, .81);
    --ttf-inconsolata: Inconsolata;
    --ttf-monaspace-argon: Monaspace-Argon;
    --ttf-monaspace-krypton: Monaspace-Krypton;
    --ttf-monaspace-neon: Monaspace-Neon;
    --ttf-monaspace-radon: Monaspace-Radon;
    --ttf-monaspace-xenon: Monaspace-Xenon;
}

html {  
    background-image: url('/assets/images/bkgrd.png');
    background-color: #bcbbcb;
         
}
body {
    
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: bold;
    width: var(--width-max);
    margin: 0 auto;
    padding: 0;
}

#maindiv {        
    width: var(--width_95); 
}

#scroll_top_div {  
  --offset: 151px;
  --fade: calc(var(--offset)*0.66);
  height: var(--offset);
  margin-top: calc(100vh + var(--offset));
}
#djinni {
    font-family: Monaspace-Neon;
    font-size: 0.25rem;
    white-space-trim: discard-before;    
}
#djinni {
    > .resizeFont  {
        font-size: 2.5rem
    }    
}


a {
    color: var(--poisongreen);   
}
a:active , a:visited, a:hover {
    color: var(--blue);
   
}
header, main, footer {
    margin-left: auto;
    margin-right: auto;
    
}

nav {
  > li i:active  div {
    display: relative;
 }
 > li i:active:hover a {
    text-shadow: 0 0 0.25rem var(--blue), 0 0 0.13em var(--poisongreen);
 } 
    
     
  ul {
    background-color: var(--background);
    margin: 0;
    padding: 0;
    list-style: none;    
  }
  
  div {
    display: none;
  }  

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
  
}

section {    
    margin-bottom: 3rem;    

    > subsection {
        > hr {
            border-top: 3.1px; 
            border-style: dotted;
            border-color: var(--foreground);         
        }
    }
}
p {
    width: var(--width_95);    
}
// CLASSES
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.float_l {
    float: left;
}
.float_r, #back2top {
    float: right;
}
.inline {
    display: inline;
}
.justify-center {
    justify-items: center;
}
.margin_0-auto {
    margin: 0 auto;    
}
.margin_5rem-auto {
    margin: 0.5rem auto;    
}
.pTop0 {    
    top: 0;
}
.pRight0 {
    right: 0;
}
.pBottom0 {    
    bottom: 0;    
}
.pLeft0 {
    left: 0;
}
.pre-whitespace {
    
    white-space: preserve nowrap;
}
.sticky, #back2top , nav { 
    position: sticky;    
}