#maindiv {    
    justify-content: center;
    align-items: start; 
    width: var(--width_95); 
}

#scroll_top_div {  
  --offset: 151px;
  --fade: calc(var(--offset)*0.66);
  height: var(--offset);
  margin-top: calc(100vh + var(--offset));
}
#djinni, #djinni-plus {
    font-family: Monaspace-Neon;
    font-size: 0.25rem;
}
#djinni-plus {
    font-size: 2.5rem
}

a {
    color: var(--poisongreen);   
}
a:active , a:visited, a:hover {
    color: var(--blue);
   
}
nav {
  > li i:active  div {
    display: relative;
 }
 > li i:active:hover a {
    text-shadow: 0 0 0.25rem var(--blue), 0 0 0.13em var(--poisongreen);
 } 
    
     
  ul {
    background-color: var(--background);
    margin: 0;
    padding: 0;
    list-style: none;    
  }
  
  div {
    display: none;
  }
      
  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
  
}

section {
    margin-bottom: 3rem;    

    > subsection {
        margin-top:0.75rem;
        margin-bottom:0.91rem;
    }
    
}

// CLASSES
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.float_l {
    float: left;
}
.float_r, {
    float: right;
}
.inline {
    display: inline;
}
.justify-center {
    justify-items: center;
}
.margin_0-auto {
    margin: 0 auto;    
}
.margin_5rem-auto {
    margin: 0.5rem auto;    
}
.pTop0 {    
    top: 0;
}
.pRight0 {
    right: 0;
}
.pBottom0 {    
    bottom: 0;    
}
.pLeft0 {
    left: 0;
}
.sticky {
    position: sticky;    
}