html {
    background-image: url('../img/triangles.png');
    background-repeat: repeat-y;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body { 
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: var(--main-font);
    font-size: 1.25rem;
    font-weight: bold;   
    max-width: 1255px;
    width: 1255px;    
    margin: 0;
    padding: 0;
}
a {
    color: var(--poisongreen-color);
}
a:visited {
    color: var(--purple-color);
}
section {
    margin-top: 10%;  
}


.inline {
    display: inline;
}
.sticky {
    position: sticky;    
}
.margin1rem {
    margin: 1rem;
}
.marginright1rem {
    margin: 1rem;
}
.lr_auto {
    margin-left: auto;
    margin-right: auto;
}
.align0_auto {
    margin: 0 auto;    
}
.w0_9{
    max-width: 90%;   
}

// POSITIONING
.float_r {
    float: right;
}
.float_l {
    float: left;
}
.top0 {    
    top: 0;
}
.right1rem {
    right: 1rem;
}
.bottom1rem {    
    bottom: 1rem;    
}
.left0 {
    left: 0;
}