#logo {
	content: url('/assets/images/logo_judgementdayevents.svg');
	alt: 'judgementdayevents';
}
#intro { 
	content: url('/assets/images/tipzofgo0d.svg');
	alt: 'tipps';
}
#skull { 
	content: url('/assets/images/skull01.svg');
	alt: 'Dia de la muerte skull';	
}
#back2top { 
    content: url('/assets/images/back2top.svg');
    alt: 'Back2Top Icon';
    height: 100%;  
}

         