h1,
h2,
h3,
img,
p,
ul {
    margin: 0;
}
.margin_bottom_1_25rem {
    margin-bottom: 1.25rem;
}
.margin_0_auto {
    margin: 0 auto;
}
.margin_left_right_auto {
    margin-left: auto;
    margin-right: auto;
}
.margin_top_1rem {
    margin-top: 1rem;
}
.padding_1rem {
    padding: 1rem;
}