nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;   
}
nav ul li {
    padding: 1rem;
    background-color: var(--background-color);
}
nav ul li a {
    display: inline-block;
    color: var(--poisongreen-color);        
    text-decoration: none;
}
nav ul li a:hover:not(.active) {
    background-color: var(--purple-color)
}
nav ul li a.active {
    background-color: var(--orange-color);
}