ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;   
}

ul.nav li {
    float: right;
}

ul.nav li a {
    display: inline-block;
    color: var(--poisongreen-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.nav li a:hover:not(.active) {
    background-color: var(--purple-color)
}

ul.nav li a.active {
    background-color: var(--orange-color);
}