.area {
    max-width: 1024px;
}
.align_items_center {
    align-items: center;
}

.flex_dir_column {
    flex-direction: column;
}
.flex_display {
    display: flex;
}
.flex_grow_auto {
    flex-grow: 1;
}
.height_100vh {
    height: 100vh;
}
.height_auto {
    height: auto;
}
.justify_center {
    justify-content: center;
}
.max_width_max_content {
    max-width: max-content;
}
.min_height_40vh {
    min-height: 40vh;
}
.min_height_100vh {
    min-height: 100vh;
}
.pos_absolute {
    position: fixed;    
}
.pos_relative {
    position: relative;
}
.top_left_50 {
    top: 50%;
    left: 50%;
}
.width_100 {
    width: 100%;
}
.width_1024 {
    width: 1024px;
}
.zindex_3 {
    z-index: 3;
}
.zindex_5 {
    z-index: 5;
}
