@use 'general';
@use 'fonts';
@use 'images';
@use 'postcard';
@use 'reactive-content';
@use './fontawesome/variables' with (
  $font-path: '../webfonts'
);
@use './fontawesome/fontawesome';
@use './fontawesome/fa' as fa;
@use './fontawesome/solid' as fa-solid;
@use './fontawesome/brands' as fa-brands;

:root {
    --main-font: "Monaspace-Krypton";    
    --width-max: 1024px;
    --width_95: calc(var(--width-max)*0.95);
    --blue: hsla(255, 100%, 50%, 1.0);
    --orange: hsla(13, 100% , 50%, 1.0);
    --poisongreen: hsla(91, 100%, 50%, 1.0);
    --purple: hsla(281, 100%, 50%, 1.0);
    --background: hsla(0, 0%, 13%, .81);    
    --foreground: hsla(181, 100%, 55%, .81);
}
html {
    background-image: url('../img/triangles.png');
    background-repeat: repeat-y;
    display: flex;
    align-items: center;
}
body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--main-font);
    font-size: 1.25rem;
    font-weight: bold;
    width: var(--width-max);
    margin: 0 auto;
    padding: 0;
}
